<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.siya.eod-fuse</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>export FUSE_GIT_BRANCH=main; __FUSE_SCRIPT__</string>
  </array>
  <key>StartInterval</key>
  <integer>14400</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/launchd-out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/launchd-err.log</string>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
</dict>
</plist>
